%h3 Campaign Promo
%br
= form_for @bmail, :html => { :id => "form_id", :onsubmit => "return validateForm();" } do |f|
  - if @bmail.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bmail.errors.count, "error")} prohibited this bmail from being saved:"
      %ul
        - @bmail.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :to
    = select_tag :l, options_for_select(collectlead), {:multiple => true, :style => "height:80px;width:550px;" }
  
  .field
  %br
    = f.label :subject
    = f.text_field :subject, :size=>"65*39"
  .field
  %br
    = cktext_area :body, :body, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "mini"} 
    %br
  .actions
    = f.submit 'Send', :id => 'send_id'
  
    = image_tag 'progress.gif', :id => 'loading_image', :style => "display: none;width:20px;height:20px";
  #progressbar
  #progressbarresponse
  #emailsentcount


:javascript
  validateForm = function() {
  var selected_value = document.getElementById('l').value;
  if(selected_value == '' || selected_value == null) 
  {
    alert("Please select atleast one email-id..");
    return false; 
  }
  else
  {
   
    var url = "/bmails"; 
     $.ajax({
           type: "POST",
           url: url,
           data: $("#form_id").serialize(), 
           success: function(data)
           {
                alert("In ajax function");               
           }
         });
    $(function() {
      $("#progressbar").progressbar({ value: 0 });
      setTimeout(updateProgress, 2000);
    });
    
      // avoid to execute the actual submit of the form.
  
  }
     return false;
  }
  

  function updateProgress() {
   var progress;
   progress = $("#progressbar")
    .progressbar("option","value");
    if (progress < 100) {
      $("#progressbar")
             var url = "/bmails_check_progress_bar_status"; 
             $.ajax({
             type: "POST",
             url: url,
             data: $("#form_id").serialize(),
             success: function(data)
             { 
                  $("#progressbarresponse").html(data);

                //$("#progressbar").progressbar({ value: parseInt(data) });
                 
              }
           });
           setTimeout(updateProgress, 2000);
     }
  }
   
  $(document).ajaxSend(function(e, xhr, options) {
    var token = $("meta[name='csrf-token']").attr('content');
    xhr.setRequestHeader('X-CSRF-Token', token);
  });