%h3 Campaign Promo
%br
= form_for @bmail, :html => { :id => "form_id", :onsubmit => "return validateForm();" } do |f|
  - if @bmail.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bmail.errors.count, "error")} prohibited this bmail from being saved:"
      %ul
        - @bmail.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :to
    = select_tag :l, options_for_select(collectlead), {:multiple => true, :style => "height:80px;width:550px;" }
  
  .field
  %br
    = f.label :subject
    = f.text_field :subject, :size=>"65*39"
  .field
  %br
    = cktext_area :body, :body, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "mini"} 
    %br
  .actions
    = f.submit 'Send', :id => 'send_id'
:javascript
  validateForm = function() {
  var selected_value = document.getElementById('l').value;
  if(selected_value == '' || selected_value == null) 
  {
    alert("Please select atleast one email-id..");
    return false; 
  }
  else
  {
    $("#send_id").click(function() {
    alert("I");
  });
  }
  }
//= link_to 'Back', bmails_path